.quiz-loader{
    text-align: center;
    padding-top: 10%;
}
.main-container{
    background-color: lightgray;
    height: 300px;
    width: 30%;
    margin:auto;
    position:absolute;
    top:0;bottom:0; 
    left:0;right:0;    
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
@media only screen and (max-width: 500px){
    .main-container{
        width: 70%;
    }
}
.quiz-app .main-box{
    height: 400px;
    width: 1000px;
    border: solid 1px lightgray;
    /* margin: 0 auto; */
    top: 20%;
    left: 10%;
    position: fixed;
}
.quiz-app .question-container{
    height: 100px;
    width: 900px;
    color: #fff;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.quiz-app .question-container .ques-num{
    height: 200px;
    width: 200px;
    font-size: 25px;
    align-self: center;
    text-align: center;
    display: inline-block;
    color: #000;
    background-color: #fff;
}
.quiz-app .question-container .ques-text{
    align-self: center;
    font-size: 20px;
    padding-top: 10px;
}
.quiz-app .symbol{
    height: 50px;
    width: 20px;
    color: #fff;
    background-color: blueviolet;
    text-align: center;
}
/* .quiz-app .flex-row{
    display: flex;
    flex-direction: row;
} */
.quiz-app .option{
    /* height: 50px;
    width: 300px;
    border: solid 1px blueviolet; */
    align-content: stretch;
    display: flex;
    flex-direction: inherit;
    margin-top: 10px;
    cursor: pointer;
}
.quiz-app .options{
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.quiz-app .options>div {
    flex: 0 50%;
    box-sizing:border-box
}
.quiz-app .option-text{
    text-align: center;
    border: solid 1px blueviolet;
    padding: 10px;
}
.result-next-div{
    display: flex;
    justify-content: space-between;
}
.quiz-app .options .success{
    background-color: green;
    color: #fff;
}
.quiz-app .options .failure{
    background-color: red;
    color: #fff;
}
.quiz-app .no-click{
    pointer-events: none;
}
.ques-score-board ul{
    display: flex;
    justify-content: space-evenly;
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}